---
title: Desktop application direct
hide_in_navigation: true
weight: 21
description: Page description for search engines
---
<%= partial 'tracking-consent/partials/google_tag_manager_js' %>

# Desktop application direct

<%= partial 'connection-method/partials/change-summary',  :locals => { :connection_method => 'DESKTOP_APP_DIRECT' } %>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You must submit data for all of these headers.
  </strong>
</div>

<ol class="govuk-list cmq-header-list--numbered">
  <%= partial 'connection-method/partials/gov-client-connection-method', :locals => { :connection_method => 'DESKTOP_APP_DIRECT' } %>
  <%= partial 'connection-method/partials/gov-client-device-id' %>
  <%= partial 'connection-method/partials/gov-client-local-ips', :locals => { :connection_method => 'DESKTOP_APP_DIRECT' } %>
  <%= partial 'connection-method/partials/gov-client-local-ips-timestamp', :locals => { :connection_method => 'DESKTOP_APP_DIRECT' } %>
  <%= partial 'connection-method/partials/gov-client-mac-addresses' %>
  <%= partial 'connection-method/partials/gov-client-multi-factor' %>
  <%= partial 'connection-method/partials/gov-client-screens', :locals => { :connection_method => 'DESKTOP_APP_DIRECT' } %>
  <%= partial 'connection-method/partials/gov-client-timezone' %>
  <%= partial 'connection-method/partials/gov-client-user-agent', :locals => { :connection_method => 'DESKTOP_APP_DIRECT' } %>
  <%= partial 'connection-method/partials/gov-client-user-ids', :locals => { :connection_method => 'DESKTOP_APP_DIRECT' } %>
  <%= partial 'connection-method/partials/gov-client-window-size', :locals => { :connection_method => 'DESKTOP_APP_DIRECT' } %>
  <%= partial 'connection-method/partials/gov-vendor-license-ids' %>
  <%= partial 'connection-method/partials/gov-vendor-product-name' %>
  <%= partial 'connection-method/partials/gov-vendor-version', :locals => { :connection_method => 'DESKTOP_APP_DIRECT' }  %>
</ol>
