---
title: Web application via server
hide_in_navigation: true
weight: 21
description: Page description for search engines
---

# Web application via server

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You must submit data for all of these headers.
  </strong>
</div>

Where multiple services manage your intermediary servers, headers must contain data from all services.

<%= partial 'connection-method/partials/connection-method', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/public-ips' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/public-port' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/device-id' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/user-ids' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/timezone' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/local-ips', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/screens' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/window-size' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/browser-plugins' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/user-agent' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/browser-do-not-track' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/multi-factor' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/vendor-version' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/gov-vendor-license-id' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/gov-vendor-public-ip' %>
<hr class="govuk-section-break govuk-section-break--visible">

<%= partial 'connection-method/partials/gov-vendor-forwarded' %>
<hr class="govuk-section-break govuk-section-break--visible">
