---
title: Web application via server
hide_in_navigation: true
weight: 21
description: Page description for search engines
---

# Web application via server

<%= partial 'connection-method/partials/change-summary',  :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You must submit data for all of these headers.
  </strong>
</div>

Where multiple services manage your intermediary servers, headers must contain data from all services.

<ol class="govuk-list cmq-header-list--numbered">
  <%= partial 'connection-method/partials/gov-client-connection-method', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
  <%= partial 'connection-method/partials/gov-client-browser-do-not-track' %>
  <%= partial 'connection-method/partials/gov-client-browser-js-user-agent', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
  <%= partial 'connection-method/partials/gov-client-browser-plugins' %>
  <%= partial 'connection-method/partials/gov-client-device-id' %>
  <%= partial 'connection-method/partials/gov-client-local-ips', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
  <%= partial 'connection-method/partials/gov-client-local-ips-timestamp', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
  <%= partial 'connection-method/partials/gov-client-multi-factor' %>
  <%= partial 'connection-method/partials/gov-client-public-ip' %>
  <%= partial 'connection-method/partials/gov-client-public-ip-timestamp' %>
  <%= partial 'connection-method/partials/gov-client-public-port' %>
  <%= partial 'connection-method/partials/gov-client-screens', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
  <%= partial 'connection-method/partials/gov-client-timezone' %>
  <%= partial 'connection-method/partials/gov-client-user-ids', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
  <%= partial 'connection-method/partials/gov-client-window-size', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
  <%= partial 'connection-method/partials/gov-vendor-forwarded' %>
  <%= partial 'connection-method/partials/gov-vendor-license-ids' %>
  <%= partial 'connection-method/partials/gov-vendor-product-name' %>
  <%= partial 'connection-method/partials/gov-vendor-public-ip' %>
  <%= partial 'connection-method/partials/gov-vendor-version', :locals => { :connection_method => 'WEB_APP_VIA_SERVER' } %>
</ol>
